.navbar{
  background-color: black;
}
h1{
  font-size: 80px;
  font-family: 'Playfair Display', serif;
  margin: 0px 80px;
}
.nav-link{
  font-size: 40px;
  font-family: 'Fira Sans Condensed', sans-serif;
    margin: 0px 30px;;
}
